
<div class="jumbotron"> 
    <div class="container">  
    </div> 
  </div> <!-- read first:  http://getbootstrap.com/css/#buttons -->

<div class="section banner"> 
  <div class="container"> 
  <h3>Nam elementum sodales auctor.</h3> 
  <a class="btn btn-lg btn-default" href="#">Learn More</a> 
  </div> 
</div> 
<div class="section"> 
  <div class="container"> 
    <div class="page-header"> 
    <h3>Newest Contributions</h3> 
    </div> <div class="row"> 
    <div class="col-md-4"> 
    <h4>Aliquam vitae</h4> 
    <ul> 
    <li>Aliquam vitae tellus lacinia</li> 
    <li>Aliquam vitae tellus lacinia</li> 
    </ul> 
  </div> 
  <div class="col-md-4"> 
  <h4>eros nec</h4> 
    <ul> 
      <li> eu volutpat leo eros nec</li> 
      <li> Mauris porttitor tristique sodales.</li> 
    </ul> 
  </div> 
  <div class="col-md-4"> 
  <h4> Mauris porttitor</h4> 
  <ul> 
    <li> aliquet temp</li> 
    <li>Hdui vel libero </li> 
  </ul> 
  </div> 
</div> 
</div> 
</div> 