_product.html.erb
<div> 	
   <h1><%= product.name %></h1>
   <p><%= image_tag(product.image_url, class: "img-responsive") %></p>
   <p><%= product.description %></p>
   <p><%= product.colour %></p>
   
</div>