<!DOCTYPE html>
<html>
  <head>
    <title>Learningapp2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>

  <body>
  
  <div class="header"> 
    <div class="container"> 
      <div class="row"> 
        <div class="col-md-4"> 
        <h1>BestOldBikes</h1> 
        </div> 
         <ul class="nav nav-pills"> 
          <li class="active"><a href="#">About</a></li>
          <li><a href="#">Sign Up</a></li> 
          <li><a href="#">Log In</a></li> 
        </ul> 
      </div> 
    </div> 
  </div> 

   <%= yield %>

  
  <div class="footer"> 
     
    <p>&copy; 2017 BestBikes frankfurt</p> 
    
  </div>
</body> 
</html>